.DS_Store
Pixart/.DS_Store
Pixart/Pixart.xcworkspace/xcuserdata/pavitbath.xcuserdatad/UserInterfaceState.xcuserstate
Pixart/Pixart.xcworkspace/xcuserdata/ronald-mac.xcuserdatad/UserInterfaceState.xcuserstate
Pixart/Pixart.xcworkspace/xcuserdata/hin.xcuserdatad/UserInterfaceState.xcuserstate
Pixart/Pixart.xcworkspace/xcuserdata/cjh010.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
Pixart/.DS_Store
*.xcuserstate
