<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153276828224-2nd6giv0tmra744o7kvsbtv30s6iilhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153276828224-2nd6giv0tmra744o7kvsbtv30s6iilhj</string>
	<key>API_KEY</key>
	<string>AIzaSyDDMfeuf3hqwoiuacsUrsYrzK2H9n0y0Qw</string>
	<key>GCM_SENDER_ID</key>
	<string>153276828224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ecs153.Courier</string>
	<key>PROJECT_ID</key>
	<string>ecs153project-52c11</string>
	<key>STORAGE_BUCKET</key>
	<string>ecs153project-52c11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153276828224:ios:e18001159f4b9d7a</string>
	<key>DATABASE_URL</key>
	<string>https://ecs153project-52c11.firebaseio.com</string>
</dict>
</plist>